<div class="footer-principal" style="border-bottom: none !important;">
    <article>
        <div class="footer-titulo">Vamos fazer algo louco juntos?</div>
        <div class="contato-texto">emailemail@email.com</div>
        <div class="contato-texto">(00)00000-0000</div>
        <div class="contato-texto">
            <a href="https://www.linkedin.com/in/alice-ribeiro-280812182/" target="_blank">LinkedIn</a>  |
            <a href="https://github.com/ciceribeiroo" target="_blank">GitHub</a>  |
            <a href="https://www.instagram.com/ciceribeiroo/" target="_blank">Instagram</a>
        </div>
    </article>
    <div class="nome">com &#128420; Alice Ribeiro</div>
</div>