@model LoginViewModel

@{ 

}
<style>
    body{
        overflow-y: hidden
    }
</style>
<body>
    <div class="capa">
        <figure class="size-4">
            <img src="~/content/static/capa2.jpg" />
            <form style="margin-top: 3rem" asp-controller="Auth" asp-action="Login" method="post">
                <div class="sign-in-form">
                    <div class="campo">
                        <input asp-for="UserName" placeholder="E-mail" />
                    </div>
                    <div class="campo">
                        <input asp-for="Password" placeholder="Senha" />
                    </div>
                    <div>
                        <input class="botao" type="submit" value="Entrar" /></br>
                        <p class="registrar">Não tem uma conta?<a asp-controller="Auth" asp-action="Register">Registre-se</a></p>
                    </div>
                </div>
            </form>
        </figure>
    </div>
</body>