.tabela-web{
    margin: 1rem;
}
.tabela-mobile {
    margin: 1rem;
    display: none;
}
@media screen and (max-width: 668px) {
    .tabela-web{
        display: none;
    }
    .tabela-mobile{
        display: inline-table;
    }
}
    .post img {
        width: 100%;
    }

    .post-body {
        margin: -5px 5px 0;
        background-color: white;
        padding: 20px 5px;
        border-bottom-left-radius: -5px;
        border-bottom-right-radius: -5px;
    }

    .trumbowyg-box, .trumbowyg-editor {
        background-color: white !important;
        max-width: 1200px;
        min-height: 400px !important;
    }

    .edit {
        margin: 20px 20px 20px 20px;
    }

    .sign-in-form {
        position: absolute;
        background-color: transparent;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: center;
        vertical-align: central;
        transform: translateY(-80%);
    }

        .sign-in-form div {
            max-width: 500px;
            width: 100%;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            vertical-align: central;
            text-align: center;
        }

        .sign-in-form input {
            font-family: 'Lato', sans-serif;
            margin-bottom: 1rem;
        }

        .sign-in-form p {
            margin-top: 1rem;
            color: #808080;
        }

    .botao {
        margin-top: 0.5rem;
        padding: 0.3rem 2rem;
        border: 3px solid #808080;
        border-radius: 35px;
        background-color: transparent;
        color: #808080;
        transition: all 0.3s ease;
    }
.tamanho {
    font-size: 0.8rem;
    padding: initial;
    width: initial;
    padding: 0.3rem 0.7rem;
}

        .botao:hover {
            background-color: #808080;
            color: #fff
        }

        .botao:focus {
            outline: none
        }

    .campo input, .campo select {
        font-family: 'Lato', sans-serif;
        padding: 0.3rem;
        min-width: 250px;
        border: none;
        outline: none;
        background-color: transparent;
        border-bottom: 2px solid #808080;
    }

    .campo:focus .campo:active .campo:after {
        background-color: transparent !important;
    }

    .paginas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-weight: bold;
        margin-bottom: 2rem;
    }

        .paginas a {
            color: #808080;
            text-decoration: none;
            align-items: center;
            padding: 1rem;
        }

            .paginas a:hover {
                color: #313131;
                text-decoration: none;
            }

            .paginas a i {
                font-size: 1rem;
                padding: initial;
                color: #808080;
            }

                .paginas a i:hover {
                    color: #313131;
                }

    .lista-posts ul li {
        margin-top: 1rem;
    }

    ul.lista {
        list-style-type: none;
    }