@model PostViewModel

@{
}
<link href="~/lib/Trumbowyg-master/dist/ui/trumbowyg.css" rel="stylesheet" />
<div style="margin-top: 4rem" class="edit">
    <form asp-controller="Panel" asp-action="Edit" method="post" enctype="multipart/form-data">
        <input asp-for="id" type="hidden" />
        <div>
            <div class="column2"> <label>Título</label></div>
            <div class="column3 campo"> <input style="width:80%" asp-for="Title" /></div>
        </div>
        <div>
            <div class="column2"><label>Categoria</label></div>
            <div class="column3 campo">
                <select asp-for="Category" style="width:80%" >
                    <option value="Travel">Viagem</option>
                    <option value="Programming">Programação</option>
                    <option value="Photography">Fotografia</option>
                </select>
            </div>
        </div>
        <div>
            <div class="column2"><label>Tags</label></div>
            <div class="column3 campo"><input style="width:80%" asp-for="Tags" /></div>
        </div>
        <div>
            <div class="column2"><label>Resumo</label></div>
            <div class="column3 campo"><input style="width:80%" asp-for="Description" /></div>
        </div>
        <div>
            <div class="column4"><textarea id="editor" asp-for="Body"></textarea></div>
        </div>
        <div>
            <div class="column2"><label>Imagem</label></div>
            <input asp-for="CurrentImage" type="hidden" />
            <div class="column3 campo"><input style="width:80%" asp-for="Image" /></div>
        </div>
        <div>
            <div class="column2"><label>Legenda</label></div>
            <div class="column3 campo"><input style="width:80%" asp-for="Legend" /></div>
        </div>
        <div class="column4"><input class="botao" type="submit" value="Enviar" /></div>
    </form>
</div>
@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/lib/Trumbowyg-master/dist/trumbowyg.js"></script>
    <script>
        $('#editor').trumbowyg({
            lang: 'pt-br'
        });
    </script>
}