@model IEnumerable<Post>

@{
}
<div class="panel">
    <div>
        <a class="sublinhado" asp-controller="Panel" asp-action="Edit">
            Adicionar Novo Post
        </a>
    </div>

    <h2 style="margin: 1rem 0rem;">Gerenciar Posts</h2>

    <partial name="_PostsList" model="Model" />
</div>